.kient-sidebar {
  position: fixed;
  width: 297px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ecf0f1;
  padding: 50px 37px 82px;
  overflow: auto;
  &-top {
    width: 100%;
    &-links {
      list-style: none;
      width: 100%;
      margin-top: 80px;
      &-item {
        padding: 18px 0 18px 40px;
        margin-bottom: 25px;
        &:last-child {
          margin-bottom: 0;
        }
        &-link {
          color: black;
          text-decoration: none;
          margin-left: 22px;
        }
      }
    }
  }
  &-bottom {
    width: 100%;
    margin-top: 50px;
    p {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}
.link-active {
  background-color: $orange;
  border-radius: 14px;
  a {
    color: white;
  }
  svg {
    path {
      fill: white;
    }
  }
}
.headerbanner {
  position: fixed;
  top: 0;
  right: 0;
  width: 449px;
  background-color: #ecf0f1;
  height: 100%;
  padding: 42px 36px 48px;
  overflow: auto;
  &-top {
    width: 100%;
    &-left {
      margin-right: 27px;
      &-widget {
        background-color: white;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-right: 12px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &-right {
      margin-left: 25px;
      &-logo {
        width: 52px;
        height: 52px;
        position: relative;
        margin-right: 20px;
        border-radius: 50%;
        img {
          object-fit: cover;
          border-radius: 50%;
        }
        &::after {
          content: "";
          position: absolute;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background-color: $orange;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
        }
      }
    }
  }
}

.klient-body {
  width: calc(100% - 449px - 297px);
  margin: 0 449px 0 297px;
  padding: 42px 43px;
}
.shop-header {
  width: 100%;
}
.header-search {
  max-width: 336px;
  width: 100%;
  background-color: #eff2f3;
  border-radius: 8px;
  padding: 0px 0px 0px 22px;
  input {
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 12px;
    outline: none;
    background-color: transparent;
    border: 0;
  }
}

.shop-packages {
  width: 100%;
  margin-top: 60px;
  flex-wrap: wrap;
  &-item {
    max-width: 335px;
    width: 100%;
    border-radius: 10px;
    background-color: #f1f2f5;
    margin-right: 33px;
    margin-bottom: 60px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &-top {
      width: 100%;
      position: relative;
      &-image {
        img {
          border-radius: 10px;
        }
      }
      &-wish {
        width: 32px;
        height: 32px;
        background-color: #393939;
        position: absolute;
        bottom: 10px;
        right: 10px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    &-bottom {
      width: 100%;

      padding: 24px 26px 33px;
      &-details {
        width: 100%;
        &-left {
          &-title {
            margin-bottom: 8px;
          }
        }
      }
      &-add-btn {
        width: 100%;
        text-align: center;
        color: white;
        background-color: $orange;
        outline: none;
        border: 0;
        border-radius: 9px;
        padding: 10px 0;
        margin-top: 19px;
        cursor: pointer;
      }
    }
  }
}
.mypackages {
  width: 100%;
  &-header {
    width: 100%;
  }
  &-paketat {
    width: 100%;
    margin-top: 60px;
    flex-wrap: wrap;
    &-item {
      max-width: 335px;
      width: 100%;
      margin-right: 33px;
      margin-bottom: 60px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &-title {
        margin-top: 18px;
      }
    }
  }
}
.orders {
  width: 100%;
  &-header {
    width: 100%;
  }
  &-datatable {
    margin-top: 60px;
    table {
      border-collapse: separate !important;
      border-spacing: 0px  15px !important;
      background-color: white !important;

    }
    thead {
      background-color: #eff0f3 !important;
    }

    thead tr th {
      color: black !important;
      font-family: "Work Sans" !important;
      border: 0 !important;
      font-size: 20px !important;
      font-weight: 600 !important;
    }

    tbody {
      background-color: white !important;
    }

    tbody tr td {
      color: black !important;
      font-family: "Work Sans" !important;
      font-size: 16px !important;
      font-weight: normal !important;
    }
  }
  .pagination {
    margin-top: 80px;
    .MuiPaginationItem-root {
      color: black !important;
    }
    .MuiPaginationItem-page.Mui-selected {
      border-radius: 5px;
      color: white !important;
    }
  }
}
.wishlist{
  width: 100%;
  &-header{
    width: 100%;
  }
}