*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1f1d2c;
}
.white-body {
  background-color: white;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: #39364d;
}
::-webkit-scrollbar-thumb {
  background: #524c7b;
}
::-webkit-scrollbar-thumb:hover {
  background: #fc4f46;
}
table {
  border-collapse: separate !important;
  border-spacing: 0 20px !important;
}

thead tr th {
  color: $orange !important;
  background-color: #39364d;
  font-family: "Work Sans" !important;
  border: 0 !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  white-space: nowrap;
}

tbody tr td {
  color: white !important;
  font-family: "Work Sans" !important;
  border-bottom: 1px solid #39364d !important ;
  font-size: 16px !important;
  font-weight: normal !important;
  white-space: nowrap;
}
.MuiPaginationItem-root {
  color: white !important;
}
.MuiPaginationItem-page.Mui-selected {
  background-color: $orange !important;
}

.img-res {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-28 {
  font-size: 28px;
}
.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}

.fs-38 {
  font-size: 38px;
}

.fs-40 {
  font-size: 40px;
}

.fs-50 {
  font-size: 50px;
}

.fs-60 {
  font-size: 60px;
}

.fs-70 {
  font-size: 70px;
}

.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: bold;
}

.fw-regular {
  font-weight: normal;
}

.fw-semib {
  font-weight: 600;
}

.flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.fd-column-reverse {
  flex-direction: column-reverse;
}

.ai-center {
  align-items: center;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: flex-end;
}

.jc-start {
  justify-content: flex-start;
}

.jc-spaceb {
  justify-content: space-between;
}

.jc-spacea {
  justify-content: space-around;
}

.jc-spaceevenly {
  justify-content: space-evenly;
}

.txt-align-center {
  text-align: center;
}

.txt-align-start {
  text-align: start;
}

.txt-align-end {
  text-align: end;
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.2);
  z-index: 400;
  backdrop-filter: blur(5px);
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
